<section class="landing">
    <div class="landing_jumbo">
        <div class="landing_jumbo_content">
            <h1>Welcome to Credit Wallet</h1>
            <p>Please read instructions below before proceeding</p>
            <ol>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quisquam consequuntur quis sint earum alias veniam eaque!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quisquam consequuntur quis sint earum alias veniam eaque!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quisquam consequuntur quis sint earum alias veniam eaque!</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quisquam consequuntur quis sint earum alias veniam eaque!</li>
            </ol>
            <a role="button" [routerLink]="['/questions']"  class="btn btn-lg" >I am ready</a>
        </div>
    </div>
</section>
