<section class="container">
  <div class="page-content">
    <div class="form-wrapper">
      <ng-container *ngIf="!isResetSuccess; else resetSuccess">
        <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)">
          <p class="gray text-center">Kindly provide your email to reset your account</p>
          <br />
          <br />
          <div *ngIf="resetForm.errors" class="alert alert-danger">
            <p *ngIf="resetForm.errors.emailnotfound" class="text-center">{{resetForm.errors.emailnotfound}}</p>
          </div>
          <div class="form-group">
            <p class="small">Email</p>
            <input type="text" class="form-control form-control-lg" formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
              <small *ngIf="email.errors.required">
                Email is required.
              </small>
              <small *ngIf="email.errors.email">
                Enter a valid email.
              </small>
            </div>
          </div>
          <a [routerLink]="['/auth/login']" class="color1 float-right">I remember my password</a>
          <br />
          <br />
          <button class="btn btn-lg btn-block text-white" type="submit"
            [disabled]="loading || resetForm.invalid">{{loading ? 'Sending' : 'Reset'}}</button>
        </form>
      </ng-container>
      <ng-template #resetSuccess>
        <div>
          <div>
            <p class="text-center">
              A new password has been sent to your email.
            </p>
            <br>
            <div class="text-right mt-2">
              <a class="color1" [routerLink]="['/auth/login']">
                <span>Back to Login</span>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>
